
*{padding: 0;margin: 0;box-sizing:border-box;}
body{
	background-color: #FFFFFF;
	color: #383838;
	font-family: 'Lora', serif;
	font-size: 12px;
}
header{
	background-color: #FFED74;
    border: 1px black solid;
    padding: 20px;
}
footer{
	background-color: #FF957E;
    border: 1px black solid;
    padding: 20px;
	text-align: center;
	background-color: #383838;
}
nav{
	background-color: #E8C66A;
    border: 1px black solid;
    padding: 20px;
    }
aside{
	background-color: #FFC675;
    border: 1px black solid;
    padding: 20px;
}
div, section{
	background-color: #FFE2B8;
    border: 1px black solid;
    padding: 20px;
}

