
*{
	padding: 0;
	margin: 0;
}

body{
	background-color: #FCFFF5;
}

footer{

	background-color: #002F2F
}

nav{
	text-align: center;
}


h1, h2, h3 {
	font-family: "Helvetica", sans-serif;
	text-align: center;
	padding-bottom: 20px;
	padding-top: 20px;
}

h4, h5{
	font-family: "Garamond", serif;
	text-align: center;
	font-weight: 400;
	padding-bottom: 20px;

}

p{
	color: #3E606F;
	font-family: "Garamond", serif;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;

}

a{
	text-decoration: none;
	font-family: "Garamond", serif;
	font-weight: 600;
	color: #193441;
}
.darkbackground{
	color: #FCFFF5;
}

.floatingblock {
	display: inline-block;
    width: 375px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: rgba(62,96,111,0.3); 
    align-content: center;
}

.projectblock {
	color: #3E606F; 
	font-weight: 900;
	padding-bottom: 10px;
}

#hero{
	background-image: url(waves.jpeg);
	padding-top: 200px;
	padding-bottom: 200px;
	margin-top: 20px;
	margin-bottom: 20px;
}
